@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MvcLayout/AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<a href="/Room/AddRoom/" class="btn btn-dark">Oda Ekle</a>
<div class="table-responsive">
    <table class="table header-border">
        <thead>
            <tr>
                <th>Oda No</th>
                <th>Fiyat</th>
                <th>Başlık</th>
                <th>Yatak Sayısı</th>
                <th>Duş Sayısı</th>
                <th>Wifi</th>
                <th>Açıklama</th>
                <th>Foto</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;">@item.RoomID</td>
                    <td>
                        <a href="javascript:void(0)">@item.RoomNumber</a>
                    </td>
                    <td>@item.Price</td>
                    <td>
                        <span class="text-muted">@item.Title</span>
                    </td>
                    <td>@item.BedCount</td>
                    <td>@item.BathCount</td>
                    @if (item.Wifi == "Var")
                    {
                        <td>
                            <span class="label gradient-1 rounded">Var</span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="label gradient-3 rounded">Yok</span>
                        </td>
                    }
                    <td>@item.Description</td>
                    <td>@item.CoverImage</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn mb-1  btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">İşlemler</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Room/DeleteRoom/@item.RoomID">Sil</a>
                                <a class="dropdown-item" href="/Room/UpdateRoom/@item.RoomID">Güncelle</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


